:root{
    --primary:#e44646;
    --secondary: #FBF2CF;
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif; 
       
}

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background: var(--secondary);
    color: var(--primary);
}
    
h1 {
    font-size: 200%;
    background-color:#C6EBC5;
    padding: 20px;
    padding-right: 200px;
    padding-left: 300px;
}

h2 {
    font-size: 250%;
    color:var(--primary) ;
}

nav ul {
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    min-width: 400px;
    list-style: none;
    padding-top: 30px;
}
li {
    display: inline;
}

nav a {
    color: var(--primary);
    font-weight: bold;
    display: inline;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

nav a:hover{
    color: #C6EBC5;
}

maine{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}


.image{
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(https://images.pexels.com/photos/2101187/pexels-photo-2101187.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;
    background-position: center;
}

p #message {
    display: relative;
}

#message {
    box-sizing: border-box;
    position: relative; 
    text-align: center;
    top:80%; left: 75%;
    width: 300px;
    height: 40px;
    background-color:var(--secondary) ;
    font-size: 200%;
    color: var(--primary);
}



#work-image {

}

.work-title-img{
    margin-bottom: 10px;
    display: inline-block;
}

section {
    display: block;
    align-items: flex-start;
    margin: 10px;
    padding: 0px;
    flex-direction: column;
    width: 100%;
}
 
hr.solid {
    border-top: 3px solid #e44646;
    padding: 0;
    width: 100%;
}

.containter{
    flex: 3;
    display: flex;
    flex-wrap:wrap;
    align-items: flex-start;
}


#about-me {
    margin: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
}

.about-me{
    width: 100%;
    
}


p.about-me-descr {
    font-size: 150%;
    margin-top: 10px;
    margin-left: 30px;
}

.work{
    width:100%;
    display: flex;
}

section .work-img{
    display:inline-flexbox;
       

}
/* div #work-img{ 
    flex: 5;
    flex-wrap: wrap;
    align-items: flex-start;
   
} */

#work {
    flex:5;
    display: flex;
    width: 100%;
    padding: 20px;
    margin: 10px;
    flex-flow: wrap;
}

/* #work-img {
    width: 70%;
    padding: 20px;
    background: #FBF2CF;
    display: flex; 
}   */



.div header{
    position: relative;
    display: block;
    margin-top: 15px;
}


#contact-me {
    width: 100%;
    padding: 25px;
    position: flex;
    margin: 10px;
    
    }

ul.contact-me-content{
    padding-top: 20px;
    padding-right: 30px;
    position: flex;
    text-align: center;
}

li{
    padding-right: 30px;
    
    
}
.contact-me-content {
    color: var(--primary);
    font-weight: bold;
    width: 100%;
    font-size: 150%;
    text-decoration: underline; 
    color: #e44646;
}

footer p{
    text-align: center;
    font-size: 120%;
    margin: auto;
    padding: 1%;
}



@media screen and (max-width: 1200px) {
    header
         {flex-direction:column;
    }
}

@media screen and (max-width: 768px){
    main,
    nav{flex-direction: column;}
    
}
@media screen and (max-width: 768px) {
    #contact-me {flex-direction: column;
    }
}
    
/* 
@media screen and (max-width:768px) {
    .contact-me-content {flex-direction: column;}
}   */
